.main-content {
  padding: 32px;
  width: 100%;
  min-height: calc(100% - 76px);
  background-color: #f2f4f8;
}

.title {
  margin-bottom: 24px;
  font-size: 1.5rem;
  padding: 0 8px;
}

.no-results {
  font-size: 1.5rem;
}
