@import "./configs.scss";

.main-content {
  padding: 32px;
  width: 100%;
  background-color: #f2f4f8;
  height: calc(100vh - 136px);
  overflow-y: auto;

  @media screen and (max-width: $breakpoint-up-md) {
    padding: 24px;
  }

  @media screen and (max-width: $breakpoint-up-xs) {
    padding: 12px;
  }
}

.title {
  margin-bottom: 24px;
  font-size: 1.5rem;
  padding: 0 8px;

  @media screen and (max-width: $breakpoint-up-xs) {
    margin-bottom: 12px;
  }
}

.no-results {
  font-size: 1.5rem;
}

.loader-wrapper {
  flex: 1;
  display: flex;
}

.invisible {
  visibility: hidden;
}
